<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>ホーム</title>

        <link rel="stylesheet" href="../CSS/base.css" />
        <link rel="stylesheet" href="../CSS/home.css" />
    </head>

    <body>
        <div class="home">

            <h1>ホーム</h1>

            <div class="user-info">
                <p><strong>ユーザー名</strong></p>
                <p>ー</p>
                <p><strong>総勉強時間</strong></p>
                <p>ー</p>
            </div>

            <div class="button-group">
                <a class="menu-button" href="./profilePage.html">
                    プロフィール
                </a>
                <a class="menu-button" href="./rankingPage.html">
                    ランキング
                </a>
                <a class="menu-button" href="./timerPage.html">
                    タイマー
                </a>
            </div>

            <a class="back-button" href="./login.html">
                戻る
            </a>

        </div>
    </body>
</html>