<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "UFT-8"/>

        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>

        <title>ログイン画面</title>

        <link rel="stylesheet" href="../CSS/base.css"/>
        <link rel="stylesheet" href="../CSS/login.css"/>
    </head>

    <body>
        <div class="login">
            <h1>ログイン</h1>

            <input type="text" placeholder="ユーザー名"/>
            <input type="password" placeholder="パスワード"/>

            <button id="loginButton">ログイン</button>
        </div>

        <script src="../js/loginSystem.js"></script>
    </body>
</html>
