<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "UFT-8"/>

        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>

        <title>ランキング</title>

        <link rel="stylesheet" href="../CSS/base.css"/>
        <link rel="stylesheet" href="../CSS/ranking.css"/>
    </head>

    <body>
        <div class="ranking">
            <h1>ランキング</h1>

            <table>
                <tr>
                    <th>順位</th>
                    <th>名前</th>
                    <th>ポイント</th>
                </tr>
            </table>
        </div>

        <script src="../js/loginSystem.js"></script>
    </body>
</html>
